
@{
    ViewBag.Title = "ChartData";
}

<h2>ChartData</h2>
@model IEnumerable<RentalManagement.Models.Equipment>
@using WebMatrix.Data
@using System.Data.SqlClient


@{
    var db = Database.Open("RentalManagementEntities");
    var data = db.Query("SELECT Equipment_Category, COUNT(Equipment_Id) Equipment_Quantity FROM Equipment GROUP BY Equipment_Category;");
    var myChart = new Chart(width: 600, height: 400)
        .AddTitle("Equipment Categories")
        .AddSeries("Default", chartType: "Pie",
            xValue: data, xField: "Equipment_Category",
            yValues: data, yFields: "Equipment_Quantity")
        .Write();
}
